<!DOCTYPE html>
<html ng-app="wordApp" ng-controller="wordController">
	<head>
		<title></title>
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body>
		<button ng-click="random(word)" >Words</button>
		<button>Words w/ Decoration</button>
		<button ng-click="otherRandom()">More Words</button>
		<button>More Words w/ Decoration</button>

		<div>
			<span ng-class="style" ng-repeat="word in words track by $index" ng-model="word">
				{{word.text}}

			</span>

		</div>
	</body>
</html>